<div class="left-box">
  <div class="title">
    <span>目標一覧</span>
  </div>
  <div class="goal-list">
    <% current_user.goals.each do |goal| %>
      <div class="goal">
        <span><%=  link_to goal.title, goal_path(goal) %></span>
      </div>
    <% end %>
  </div>
</div>