.header{
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  .title{
    margin: 0 40px;
    line-height: 80px;
    color: #555;
    font-size: 30px;
    font-weight: bold;
  }
  & .log-out{
    line-height: 80px;
    margin-right: 40px;
  }
}
.container{
  height: 100vh;
  background-color: pink;
  overflow: scroll;
  
}
.main-box{
  display: flex;
}
.left-box{
  width: 350px;
  height: calc(100vh - 80px);
  background-color:  #ddd;
  overflow: scroll;
  
  & .title{
    margin: 40px;
    text-align: center;
  }
  & .goal-list{
    margin: 0 40px;
  }

  & .new-goal{
    position: absolute;
    bottom: 30px;
  }
}
.line{
  
  background-image: linear-gradient(transparent 0.5em, #111 0, #111 calc(0.5em + 1px), transparent 0, transparent calc(0.5em + 3px), #111 0, #111 calc(0.5em + 4px), transparent 0);
    color: #888;
    margin-left: 0.4em;
    text-decoration: none;
}
