
// show.html.erb
.show-goal{
  position: relative;
  width: calc(100vw - 350px);
  text-align: center;
  & .title{
    font-size: 60px;
    margin: 20px auto;
  }
  & .memo_btn{
    margin-bottom: 10px;
  }
  & .memo{
    text-align: left;
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    word-break : break-all;
  }
  & #goal_content{
    width: 60%;
    height: 200px;
  }
  & .content-box{
    margin: 0 auto;
    
    width: 60%;
    & .content{
      background-color: #fff;
      margin-top: 5px;
      position: relative;
      & a{
        position: absolute;
        right: -40px;
      }
    }
  }
  
  & .task-title{
    font-size: 30px;
  }
  & .todo-box{
    position: absolute;
    right: 30px;
    bottom: 30px;
    & #content{
      width: 300px;
    }
  }
}

.hidden{
  display: none;
}